absl-py~=0.10.0
antlr4-python3-runtime~=4.9.3
backports.zoneinfo~=0.2.1;python_version<"3.9"
google-cloud-bigquery~=2.34
immutabledict~=2.2
pandas~=1.1
protobuf~=3.13
python-dateutil~=2.8
requests~=2.27
requests-mock~=1.9
sqlalchemy~=1.2
sqlalchemy-bigquery~=1.4
